@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: rgb(255, 255, 215);
  font-family: "Itim";
}

h1 {
  text-align: center; 
  padding: 50px;
  font-size: 4rem;
  color:purple;
  letter-spacing: 6px;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tic {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.cell {
  width: 28%;
  height: 33%;
  border: 1px solid black;
  margin: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  color: #666;
}

.cell {
  background-color: rgba(0, 100, 255, 0.2);
}

.cell:hover {
  background-color: rgba(255, 100, 0, 0.4);
}
